$backgroundColor: #FFF;

.Dropdown {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  background-color: $backgroundColor;
  position: absolute;
  transition: visibility ease-in-out .7s, max-height ease-in-out .8s;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  z-index: 3;
  a {
    &:hover {
      background-color: darken($backgroundColor, 25%);
    }
    > span {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }  

  &.active {
    max-height: 100%;
    visibility: visible;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: $backgroundColor;
    transition: height .8s;
  }

  &.active::after {
    height: 0;
  }
}