.Modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: #FFF;
  overflow: hidden;
  top: 25%;
  height: 50%;
  padding: 1rem;
  max-width: 100%;
  transition: visibility .7s, max-width .7s;
  z-index: 3;
  > div:not(:last-child) {
    margin-bottom: 1rem;
  }
  .modal-header {
    font-size: 30px;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    p {
      text-align: justify;
    }
  }

  &.active {
    visibility: visible;
    max-width: 100%;
  }

  &.active::after {
    width: 0;
  }

  &::after {
    content: '';
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    background-color: #FFF;
    transition: width .7s;
  }

  &.active::before {
    width: 0;
  }
  
  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 3;
    transition: width .7s;
    background-color: #FFF;
  }

}