$textColor: #FFF;
$hoverBackgroundColor: #3e966d;
$animationTime: .4s;

.Collection {
  display: flex;
  flex-direction: column;
  .collection-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $hoverBackgroundColor;
    padding: 0.5rem 1rem;
    transition: background-color $animationTime, color $animationTime;
    font-size: 17px;
    height: 1.5rem;
    cursor: pointer;
    &:hover {
      background-color: $hoverBackgroundColor;
      color: $textColor;
      > a {
        color: $textColor;
      }
    }
    > a {
      font-size: 20px;
      font-weight: bold;
      color: $hoverBackgroundColor;
      padding: 0;
      height: 100%;
    }
  }
}